.card1{
    color: rgb(255, 252, 238);
    margin:1.7em;
    width: 14rem;
    aspect-ratio: 7/5;
    display: flex;
    flex-direction: column;
    position:relative;
}
.card1::before{
    content:'';
    position:absolute;
    bottom:-1.5rem;
    right:5%;
    width: 90%;
    height: 10px;
    background: rgba(190, 190, 190, 0.368);
    border-radius: 50%;
    z-index: -1;
    filter: blur(3px)
}
.card1__c1{
    flex:5;
    position: relative;
    border-radius: 10000em 10000em 0 0 ;
}
.card1__c2{
    flex:2.15;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1em 1em;
}
.card1__iconTextContainer{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap:0.3em;
}
.card1__iconsContainer{
    position: absolute;
    top: 33%;
    left: 73%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap:-3em;
}
.card1__icon{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.card1__icon--primary{
    font-size: 4rem;
}
.card1__icon--secondary{
    font-size: 1.4rem;
}
.icon1--overlap{
    position: relative;
    left: -0.15em
}
@keyframes flicker{
    0% {opacity:1;}
    10% {opacity: 1;}
    20% {opacity:0;}
}
.icon1--flickering{
 animation: flicker 02s infinite;
}
.card1__text{
    text-align: center;
}
.card1__gauge{
    position: absolute;
  
}